.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 88px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.container h1 {
  margin: 0;
}

.logo {
  font-size: var(--fz-xl);
  color: var(--logo-color-900);
}

.btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-size: var(--fz-sm);
  cursor: pointer;
  margin-left: 2rem;
  border-radius: 10px;
}

.btn:hover {
  background: #56fbb1;
}

.btn span {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.btn svg {
  font-size: var(--fz-ml);
}

.navBtnContainer {
  display: flex;
  flex-direction: row;
}

.navBtn {
  width: 90px;
  padding: 0.5rem;
  margin-left: 2rem;
  text-align: center;
  background: #d9d9d9;
  border-radius: 10px;
  transition: all 0.4s;
}

.navBtn:hover {
  background: #56fbb1;
}

@media (max-width: 876px) {
  .container {
    padding: 20px 22px;
  }
}
